<div class="container">
    <h2>Profile & Security</h2>

    <div class="card">
        <h3>Change Password</h3>
        <form [formGroup]="passwordForm" (ngSubmit)="onUpdatePassword()">
            <div class="form-group">
                <label>Current Password</label>
                <input placeholder="Old Password" title="Old Password" type="password" formControlName="oldPassword">
            </div>
            <div class="form-group">
                <label>New Password (min 8 characters)</label>
                <input placeholder="New Password" title="New Password" type="password" formControlName="newPassword">
                @if (passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched) {
                <small class="error-text">
                    Password must be at least 8 characters long.
                </small>
                }
            </div>
            <button type="submit" [disabled]="passwordForm.invalid">Update Password</button>
        </form>
    </div>

    <div class="card">
        <h3>Change Transaction PIN</h3>
        <form [formGroup]="pinForm" (ngSubmit)="onUpdatePin()">
            <div class="form-group">
                <label>Current PIN</label>
                <input placeholder="Old Pin" title="Old Pin" type="password" formControlName="oldPin">
            </div>
            <div class="form-group">
                <label>New PIN (4-6 digits)</label>
                <input placeholder="New Pin" title="New Pin" type="password" formControlName="newPin">
                @if (pinForm.get('newPin')?.invalid && pinForm.get('newPin')?.touched) {
                <small class="error-text">
                    PIN must be exactly 4 to 6 digits long.
                </small>
                }
            </div>
            <button type="submit" [disabled]="pinForm.invalid" class="btn-secondary">Update PIN</button>
        </form>
    </div>

</div>